/* MVP
On full screen centred side-by-side divs one for the game another for the interactive menu/console - start/reset/high-score - title above
Explosion on GameOver
Timer and flag/bomb counter position above game evenly?
*/

/* Global Styles*/

html {
  background: url(../Images/Stormysea.gif) no-repeat center center fixed;
  background-size: cover;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Abril Fatface', sans-serif;
  font-size: 48px;
  /* background-image: url(../Images/Stormysea.gif);
  background-repeat: no-repeat;
  background-size: 100%; */
}

main {
  display: flex;
  flex-direction: column-reverse;
  border: 2px solid black;
  border-radius: 5px;
  padding: 50px;
  background-color: rgb(130, 130, 141);
}

.header {
  margin-bottom: 20px;
  font-size: 1.8em;
  color: goldenrod;
}

/* Menu Console Styles*/
.menu {
  display: block;
  flex: 2;
}

.menu div {
  border: 2px solid black;
  padding: 10px;
}



.menuContents {
  display: flex;
  margin-top: 20px;
}

.menuHighScore {
  flex: 2;
}

.customControlInterface {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.customControls {
  display: flex;
  flex: 3;
}

.startResetButtons {
  display: flex;
  justify-content: space-around;
  flex: 1;
}

.startResetButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 60px;
  height: 30px;
  background-color: black;
  color: white;
  border: 1px solid grey;
  border-radius: 5px;
}

button:hover {
  background-color: white;
  color: black;
}








/* Game Console Styles */
.gameDisplay {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  padding: 20px;
  border-radius: 5px;
  min-width: 720px;
  min-height: 460px;
  background-image: url(../Images/backgroundBattleship.jpeg);
  background-position: center;
  background-size: 120%;
  background-repeat: no-repeat;
  flex: 7;
}

.gameBordered {
  display: none;
  flex-direction: column;
}

.gameInterface {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  width: max-content;
  /* background-image: url(../Images/radar-gif.gif); 
  background-repeat: no-repeat;
  background-size: 100%;*/
}

.gameCounters {
  height: 30px;
  border: 2px solid black;
  background-color: black;
  display: none;
  justify-content: space-evenly;
  font-size: 0.5rem;
  color: greenyellow;
  font-family: 'Orbitron'
}


.gridContainer {
  display: grid;
  grid-template: repeat(9, 1fr) / repeat(9, 1fr);
  place-items: center;
  align-content: center;
}

#easy {
  display: grid;
  grid-template: repeat(9, 1fr) / repeat(9, 1fr);
}

#medium {
  display: grid;
  grid-template: repeat(16, 1fr) / repeat(16, 1fr);
}

#hard {
  display: grid;
  grid-template: repeat(16, 1fr) / repeat(30, 1fr);
}


.gridContainer div {
  width: 20px;
  height: 20px;
  border: 1px solid green;
  font-size: 0.8rem;
  text-align: center;
  background-color: rgb(189, 189, 189);
}

/* width: 20px;
height: 20px;
border-right: 1px solid rgb(123, 123, 123);
border-bottom: 1px solid rgb(123, 123, 123);
font-size: 0.8rem;
text-align: center;
background-color: rgb(189, 189, 189);
border: 1px white inset */
.cleared {
  background-color: white;
}

.killer {
  background-color: rgb(78, 18, 18);
}

.dead {
  background-color: red;
}

#flag::before {
  content: "\02693";
}




/* Target
Above but with 'nautical/battleship theme and detailing' similar general design philosophy - fleshed out interactive console with custom game option/ high-score display for each difficulty with name (set Captain: XXX Time on Mission:XXX)
Cells styled with shadowing/3d effect
Sound design, nautical greetings, explosion, good job when you when (tally ho etc.)
Responsive design to push and simplify interactive menu/console to E/M/H above game
Green neon radar design - with red neon high/score custom etc or grey with white flicker type counters
*/