/* MVP
On full screen centred side-by-side divs one for the game another for the interactive menu/console - start/reset/high-score - title above
Explosion on GameOver
Timer and flag/bomb counter position above game evenly?
*/

/* Global Styles*/
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px;
}

/* Menu Console Styles*/
.menu {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  border-radius: 5px;
  width: 300px;
  margin-right: 50px;
}

.menu div {
  flex: 1;
}

.startResetButtons {
  display: flex;
}

.startResetButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 60px;
  height: 30px;
  background-color: black;
  color: white;
  border: 1px solid grey;
  border-radius: 5px;
}

button:hover {
  background-color: white;
  color: black;
}








/* Game Console Styles */
.gameDisplay {
  border: 2px solid red;
  padding: 20px;
  border-radius: 5px;
}

.gameBordered {
  display: flex;
  flex-direction: column;
}

.gameCounters {
  height: 30px;
  border: 2px solid black;
  margin-bottom: 10px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
  height: 500px;
  width: 500px;
}

.grid div {
  width: 50px;
  height: 50px;
}

.cleared {
  background-color: white;
}

.killer {
  background-color: rgb(78, 18, 18);
}

.dead {
  background-color: red;
}




/* Target
Above but with 'nautical/battleship theme and detailing' similar general design philosophy - fleshed out interactive console with custom game option/ high-score display for each difficulty with name (set Captain: XXX Time on Mission:XXX)
Cells styled with shadowing/3d effect
Sound design, nautical greetings, explosion, good job when you when (tally ho etc.)
Responsive design to push and simplify interactive menu/console to E/M/H above game
*/